{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div id="game-container"></div>
    <script src="{{ asset('JS/Games/snake.js') }}"></script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}