/*SECTION DEBUG CSS - START*/

/** {*/
/*    outline: solid .1px;*/
/*}*/

/*SECTION DEBUG CSS - END*/

.error-container {
    background: rgba(220, 47, 47, .35);
    color: var(--white);

    width: 125%;
    font-size: 1em;
}

.error-container #error-message {
    display: flex;
    justify-content: center;
    align-items: center;

    height: .5em;
    font-size: .85em;
}

/*.login {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.login .content {*/
/*    border: solid 1px var(--Light-Sea-Green);*/
/*    border-radius: 6px;*/
/*    padding: .65em;*/
/*    width: 50vw;*/
/*}*/

.content .header {
    height: 30px;
    font-size: 1.25em;
}

.header .title {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
    height: 100%;
    font-size: .85em;
}

/*.login .content form {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-content: flex-start;*/
/*}*/

.content form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 125%;
}

.row label {
    font-weight: lighter;
    font-size: 1em;

    margin-bottom: .25em;
    width: 100%;
}

.row input {
    outline: none;
    border-radius: 10px;
    width: auto;
    font-size: 1em;
}

form .submit-btn {
    width: 80%;
}

.submit-btn input[type="submit"] {
    width: 100%;
    border-radius: 10px;
    margin-top: 1.5em;

    color: var(--white);
    background: var(--Light-Sea-Green);
}

.submit-btn input[type="submit"]:hover {
    display: inline-block;
    cursor: pointer;

    color: var(--Light-Sea-Green);
    background: var(--white);
}

form .signUp-redirection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 0;
    width: 100%;

    font-size: .8em;
}

.signUp-redirection p {
    margin-right: .5em;
}

.signUp-redirection a {
    color: #4deafc;
    text-decoration: none;
}

.signUp-redirection a:hover {
    text-decoration: underline;
}


.forgotpassword {
    margin-top: 15px;
}