/* Title */

@keyframes textAnimation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.animated-text {
    animation-name: textAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-family: 'Tektur', cursive;
}

/* nav */
nav {
    font-style: italic;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav li a:hover {
    text-decoration: underline;
    opacity: 1;

}


nav li a.current {
    color: var(--gray-peach);
    opacity: 1;
}

nav a {
    color: #e3e3e3;
    opacity: .7;
    text-decoration: none;
}
