
.outing-container {
    margin-left: 300px;
    padding: 5px;
}


.outings-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

.outing-card {
    background-color: rgba(40, 55, 57, 0.3);
    margin: 2em 0;
    padding: 1em 2em;
    border: solid 1px var(--Light-Sea-Green);
    border-radius: 6px;
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    color: var(--gray-peach);
    max-width: 500px;
}

.outing-title {
    font-size: 2em;
    padding: 0 .25em;
    color: var(--gray-peach);
}

.info-line {
    display: flex;
    align-items: center;
}

.info-line i {
    margin-right: 5px;
}

.outing-list-btn {
    display: inline-block;
    padding: 5px;
    border-radius: 7px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), -3px -3px 5px rgba(255, 255, 255, 0.2);
    transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;

    background-color: var(--Verdigris);
    color: white;
}

.outing-list-btn:hover {
    margin-bottom: 10px;
    background-color: var(--Dusty-Blue);
    color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.outing-infos-list {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}


.outing-text {
    line-height: 1.5em;
}

.filter-outings {
    display: block;
    float: left;
    min-width: 350px;
    min-height: 1000px;
    line-height: 3em;
    background-color: rgba(40, 55, 57, 0.8);
    margin: 2em 20px 2em 0;
    padding: 1em 1em;
    border: solid 1px var(--Light-Sea-Green);
    border-radius: 6px;
    color: var(--gray-peach);
}

.filters-title {
    border: solid 5px var(--Light-Sea-Green);
    border-radius: 10px;
    margin: 2em 0;
    padding: 1em 1em;
    border-left: none;
    border-right: none;
}

/* outing.css */

/* Styles for the outing detail page */

.outing-detail {
    /* Styles for the outing detail page */
    background-color: rgba(40, 55, 57, 0.3);
    border-radius: 10px;
    color: var(--white);
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.outing-detail-container {
    width: 100%;
}

.outing-detail .info-block {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    padding: 10px;
    border-radius: 10px;
}

.outing-detail .info-block i {
    font-size: 1.5em;
}

.outing-detail .info-block p {
    max-width: 500px;
}

.attendees {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.attendee {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.35);
    margin-bottom: 0.5em;
    border-radius: 5px;
}

.attendee a {
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--white);
}

.attendee a i {
    margin-right: 0.5em;
}


.outing-detail h2 {
    /* Styles for the heading */
    font-size: 2em;
    color: var(--Dusty-Blue);
    text-align: center;
    width: 100%;
}

.outing-detail p {
    /* Styles for the paragraphs */
    font-size: 1em;
    line-height: 1.5;
}

.outing-detail ul {
    /* Styles for the list of attendees */
    list-style-type: none;
    padding-left: 0;
}

.outing-detail-btn {
    /* Styles for the buttons */
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.outing-detail-btn .btn {
    /* Styles for the buttons */
    font-size: 1em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--Verdigris);
    transition: background-color 0.3s ease;
    width: auto;
}

.outing-detail-btn .btn:hover {
    background-color: var(--Dusty-Blue);
}

/* Styles for the outing edit page */

.outing-edit {
    /* Styles for the outing edit page */
    background-color: rgba(40, 55, 57, 0.3);
    border-radius: 10px;
    color: var(--white);
    padding: 20px;
    margin-bottom: 20px;
}

.outing-edit h2 {
    /* Styles for the heading */
    font-size: 2em;
    color: var(--Dusty-Blue);
}

.outing-edit form {
    /* Styles for the form */
    display: flex;
    flex-direction: column;
}

.outing-edit .btn {
    /* Styles for the buttons */
    font-size: 1em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--Verdigris);
    transition: background-color 0.3s ease;
}

.outing-edit .btn:hover {
    background-color: var(--Dusty-Blue);
}

/* Styles for the confirm unregister page */

.confirm-unregister {
    /* Styles for the confirm unregister page */
    background-color: rgba(40, 55, 57, 0.3);
    border-radius: 10px;
    color: var(--white);
    padding: 20px;
    margin-bottom: 20px;
}

.confirm-unregister h2 {
    /* Styles for the heading */
    font-size: 2em;
    color: var(--Dusty-Blue);
}

.confirm-unregister p {
    /* Styles for the paragraph */
    font-size: 1em;
    line-height: 1.5;
}

.confirm-unregister .btn {
    /* Styles for the buttons */
    font-size: 1em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--Verdigris);
    transition: background-color 0.3s ease;
}

.confirm-unregister .btn:hover {
    background-color: var(--Dusty-Blue);
}

/* Styles for the confirm publish page */

.confirm-publish {
    /* Styles for the confirm publish page */
    background-color: rgba(40, 55, 57, 0.3);
    border-radius: 10px;
    color: var(--white);
    padding: 20px;
    margin-bottom: 20px;
}

.confirm-publish h1 {
    /* Styles for the heading */
    font-size: 2em;
    color: var(--Dusty-Blue);
}

.confirm-publish p {
    /* Styles for the paragraph */
    font-size: 1em;
    line-height: 1.5;
}

.confirm-publish .btn {
    /* Styles for the buttons */
    font-size: 1em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--Verdigris);
    transition: background-color 0.3s ease;
}

.confirm-publish .btn:hover {
    background-color: var(--Dusty-Blue);
}

/* Styles for the cancel outing page */

.cancel-outing {
    /* Styles for the cancel outing page */
    background-color: rgba(40, 55, 57, 0.3);
    border-radius: 10px;
    color: var(--white);
    padding: 20px;
    margin-bottom: 20px;
}

.cancel-outing h1 {
    /* Styles for the heading */
    font-size: 2em;
    color: var(--Dusty-Blue);
}

.cancel-outing p {
    /* Styles for the paragraph */
    font-size: 1em;
    line-height: 1.5;
}

.cancel-outing form {
    /* Styles for the form */
    display: flex;
    flex-direction: column;
}

.cancel-outing .btn {
    /* Styles for the buttons */
    font-size: 1em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--Verdigris);
    transition: background-color 0.3s ease;
}

.cancel-outing .btn:hover {
    background-color: var(--Dusty-Blue);
}

/* Styles for the outing unregister confirmation page */

.outing-unregister-confirm {
    /* Styles for the outing unregister confirmation page */
    background-color: rgba(40, 55, 57, 0.3);
    border-radius: 10px;
    color: var(--white);
    padding: 20px;
    margin-bottom: 20px;
}

.outing-unregister-confirm h2 {
    /* Styles for the heading */
    font-size: 2em;
    color: var(--Dusty-Blue);
}

.outing-unregister-confirm p {
    /* Styles for the paragraph */
    font-size: 1em;
    line-height: 1.5;
}

/*.outing-unregister-confirm .btn {
    font-size: 1em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--Verdigris);
    transition: background-color 0.3s ease;
}

.outing-unregister-confirm .btn:hover {
    background-color: var(--Dusty-Blue);
}*/

/* Styles for the outing publish confirmation page */

.outing-publish-confirm {
    /* Styles for the outing publish confirmation page */
    background-color: rgba(40, 55, 57, 0.3);
    border-radius: 10px;
    color: var(--white);
    padding: 20px;
    margin-bottom: 20px;
}

.outing-publish-confirm h1 {
    /* Styles for the heading */
    font-size: 2em;
    color: var(--Dusty-Blue);
}

.outing-publish-confirm p {
    /* Styles for the paragraph */
    font-size: 1em;
    line-height: 1.5;
}

.outing-publish-confirm .btn {
    /* Styles for the buttons */
    font-size: 1em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--Verdigris);
    transition: background-color 0.3s ease;
}

.outing-publish-confirm .btn:hover {
    background-color: var(--Dusty-Blue);
}

/* Styles for the outing cancel page */

.outing-cancel {
    /* Styles for the outing cancel page */
    background-color: rgba(40, 55, 57, 0.3);
    border-radius: 10px;
    color: var(--white);
    padding: 20px;
    margin-bottom: 20px;
}

.outing-cancel h1 {
    /* Styles for the heading */
    font-size: 2em;
    color: var(--Dusty-Blue);
}

.outing-cancel p {
    /* Styles for the paragraph */
    font-size: 1em;
    line-height: 1.5;
}

.outing-cancel form {
    /* Styles for the form */
    display: flex;
    flex-direction: column;
}

.outing-cancel .btn {
    /* Styles for the buttons */
    font-size: 1em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--Verdigris);
    transition: background-color 0.3s ease;
}

.outing-cancel .btn:hover {
    background-color: var(--Dusty-Blue);
}
.checkboxes{


    justify-content: left;
    flex-direction: row;



}
input[type="checkbox"]{
    padding : 0;
    margin: 0;
    max-width:  20px;



}

.checkboxes label{
    display: inline-block;



}

@media screen and (max-width: 860px) {
    .outing-container {
        margin-left: 0;
    }

    .filter-outings {
        min-width: 100%;
        margin: 0;
        padding-right: 10px;
    }

    .outings-list {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

.form-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(40, 55, 57, 0.3);
    border-radius: 10px;
    color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-group {
    margin-bottom: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.info-container {
    margin-bottom: 10px;
}

/*.btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--Verdigris);
    transition: background-color 0.3s ease;
}*/

.btn:hover {
    background-color: var(--Dusty-Blue);
}

.icon-button {
    border: none;
    background: none;
    color: var(--Dusty-Blue);
    cursor: pointer;
}

@media screen and (max-width: 860px) {
    .form-block {
        grid-template-columns: 1fr;
    }
}


#suggestions{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#suggestions div {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    border-radius: 10px;
}

optgroup {
    background-color: #f0f0f0;
    color: #1f6f78;
}

optgroup .city-1 {
    background-color: #e0e0e0;

}

optgroup .city-2 {
    background-color: #d0d0d0;
    color: #1f6f78;
}



