html,textarea{
    scrollbar-width: thin;
    scrollbar-color: var(--Light-Sea-Green) var(--gray-peach);

}

::-webkit-scrollbar{
    width: 0.4em;
    height: 0.4em;

}

::-webkit-scrollbar-thumb{
    background-color: var(--Light-Sea-Green);
    border: .1em solid var(--white);
    border-radius: 100vw;
}

::-webkit-scrollbar-track{
    background-color: var(--gray-peach);
    margin-block: .1em;
    border-radius: 100vw;
}