<div class="campus-list">
    {% for campus in campuses %}
<div class="campus-infos-wrapper">
    <div class="campus-infos-container">
        <span>{{ campus.nom }} {# ou le champ approprié de votre entité Campus #}</span>

        <div class="campus-item-actions">
            <a href="{{ path('admin_campus_edit', {'id': campus.id}) }}" class="button-edit">
                Edit
            </a>
            <a href="{{ path('admin_campus_delete', {'id': campus.id}) }}"
               class="button-delete">
                Delete
            </a>
        </div>
    </div>
</div>
    {% endfor %}
</div>

<section class="current-datatype-add">
    <a href="{{ path('admin_campus_new') }}" class="button-add">
        Add New Campus
    </a>
</section>
