{% extends 'admin/dashboard.html.twig' %}

{% block title %}New Campus{% endblock %}

{% block body %}
    <h1>New Campus</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Create</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_dashboard') }}">Back to list</a>
{% endblock %}
