:root {
    --90FadingBlackGradient: linear-gradient(90deg, rgba(0, 0, 0, .35), rgba(0, 0, 0, .05));
    --180FadingBlackGradient: linear-gradient(180deg, rgba(0, 0, 0, .35), rgba(0, 0, 0, .05));
    --180WhiteToClearkGradient: linear-gradient(180deg, rgba(255, 255, 255, .75), rgba(255, 255, 255, 0));
}

.dashboard-wrapper {
    background: var(--180FadingBlackGradient);
    border-radius: 0.625em;
    backdrop-filter: blur(0.375em);
}

.dashboard-wrapper select,
.data-view-wrapper select,
.dashboard-wrapper input:not([type="submit"]):not([value=""]),
.data-view-wrapper input:not([type="submit"]):not([value=""]) {
    transition: .2s linear;
    background: var(--90FadingBlackGradient);
    color: white;
    outline: none;
    border: 2px solid var(--Dusty-Blue);
}

.dashboard-wrapper select option,
.data-view-wrapper select option {
    color: black;
}

.dashboard-wrapper input:not([type="submit"]):not([value=""]):hover,
.data-view-wrapper input:not([type="submit"]):not([value=""]):hover {
    transform:scale(1.01);
    border: 2px solid var(--white);
}


.dashboard-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.dashboard-main {
    padding: .75em 0;
}

.dashboard-nav {
    background: var(--90FadingBlackGradient);
    border-radius: .625em;
    padding: 0 .5em;
}

.dashboard-nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    text-align: center;
    gap: 1em 0;
}

.dashboard-nav ul li button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;

    font-size: .7em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .3);
    font-weight: normal;
    box-sizing: content-box;
    transition: .25s ease-in-out;
}

.dashboard-nav ul li button:hover {
    text-decoration: underline 2px;
    text-underline-offset: 4px;
    cursor: pointer;
    font-weight: bolder;
    transform:scale(1.15);
}

.dashboard-nav ul li.dbc-selected button {
    color: rgba(255, 255, 255, 1);
    font-weight: bolder;
}

.users-actions,
.cities-actions {
    padding-bottom: .75em;
    width: 50%;
}

.cities-actions {
    width: 25%;
}

#cities-section .form-actions-button-cancel {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0 .6em;
    margin-top: .75em;
    width: 20em;
}

.users-actions-forms-section .filter-field,
.users-actions-forms-section .sort-field {
    padding-bottom: .75em;
}

.users-actions-forms-section .filter-field label,
.users-actions-forms-section .sort-field label{
    padding: 0;
}

.users-actions-forms-section .filter-field div:not(:first-of-type) {
    padding-top: .75em;
}

.user-list,
.campus-list,
.city-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9.5em, 1fr));
    justify-content: center;
    align-items: center;
    gap: .75em;
}

.user-list {
    grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
}

.data-found {
    font-size: .75em;
    margin: 0;
    padding-left: .25em;
    padding-bottom: .75em;
}

.data-view-container,
.user-infos-wrapper,
.city-infos-wrapper,
.campus-infos-wrapper {
    width: 100%;
    max-width: 100%;
    background: var(--180FadingBlackGradient);
    border-radius: 0.625em;
    border: solid 1px rgba(255, 255, 255, 0.2);
}

.city-infos-wrapper {
    height: 100%;
}

.user-infos-container {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0;
    clear: both;
    align-items: center;
    gap: 1em;
}

.data-view-content,
.city-infos-container,
.campus-infos-container {
    display: flex;
    flex-direction: column;
    padding: .5em;
    clear: both;
}

.dashboard-wrapper,
.content-title,
.user-infos-wrapper,
.city-infos-wrapper,
.campus-infos-wrapper {
    -webkit-animation: fadeInFromNone   1.5s ease;
    -moz-animation: fadeInFromNone      1.5s ease;
    -o-animation: fadeInFromNone        1.5s ease;
    animation: fadeInFromNone           1.5s ease;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.city-infos-container,
.campus-infos-container {
    align-items: center;
    padding: 1em;
    gap: .5em;
}

.city-infos-container section span,
.campus-infos-container span {
    width: 100%;
    padding: .5em .5em .5em .75em;
    text-align: center;
}

.user-icon {
    overflow: hidden;
    border: solid .125em white;
    width: 6.25em;
    height: 6.25em;
    min-inline-size: 6.25em;
    border-radius: 10%;
    box-shadow: 0 .35em 0.65em var(--Black);
}

.user-icon img {
    margin: auto;
    width: auto;
    height: 100%;
}

.user-status {
    font-size: .55em;
    text-transform: uppercase;
    width: 6.25em;
}

.user-active,
.user-inactive {
    border-radius: 0.5em;
    padding: .5em;
    font-weight: bold;
    letter-spacing: 1px;
    display: block;
    text-align: center;
}

.user-active {
    background: var(--180FadingBlackGradient);
    border: solid 2px #42ab27
}

.user-inactive {
    background: var(--180FadingBlackGradient);
    border: solid 2px var(--Red-Flash)
}

.user-infos {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    font-size: .825em;
    width: 100%;
}

.user-item-actions-topRight {
    position: relative;
}

.user-item-actions-topRight section {
    position: absolute;
    top: 0.6em;
    right: 0.75em;
}

.user-name-email {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 0.188em 0;
}

.user-name-email span {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.user-name-email span:last-child {
    font-size: .5em;
}

.user-item-actions,
.city-item-actions,
.campus-item-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25em;

    width: 100%;
}

.city-infos-container section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-item-actions section,
.campus-item-actions section {
    display: flex;
    width: 100%;
    padding: .5em;
    gap: 1em;
    justify-content: center;
}

.user-item-actions .button-edit,
.city-item-actions .button-edit,
.campus-item-actions .button-edit {
    width: 15em;
    flex: 1;
}

.data-view-add-form button[type="submit"],
.data-view-delete-form form button[type="submit"],
.button-positive-action,
.form-actions-button,
.form-actions-button-cancel,
.button-edit,
.button-delete,
.button-add,
.button-disabled,
.button-back,
.button-save {
    border-radius: 0.625em;
    width: 3.75em;
    padding: .75em 1em;
    font-size: .6em;
    border: solid 2px rgba(0, 0, 0, 0);
    color: var(--white);
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    transition: 0.25s ease-in-out;
}

.data-view-add-form button[type="submit"]:hover,
.data-view-delete-form button[type="submit"]:hover,
.button-positive-action:hover,
.form-actions-button:hover,
.form-actions-button-cancel:hover,
.button-edit:hover,
.button-add:hover,
.button-delete:hover,
.button-back:hover,
.button-save:hover {
    cursor: pointer;
    border: solid 2px var(--white);
    font-weight: bolder;
    transform:scale(1.025);
}

.data-view-content form button[type="submit"] {
    margin-top: 0;
    width: 100%;
    border: solid 2px rgba(0, 0, 0, 0);
    transition: none;
    font-family: inherit;
}

.button-positive-action,
.form-actions-button,
.button-edit,
.button-add,
.button-back,
.button-save,
.data-view-add-form button[type="submit"] {
    background: var(--Dusty-Blue);
}

.button-add {
    flex: .125;
}

.data-view-delete-form button[type="submit"],
.button-delete,
.form-actions-button-cancel {
    background: var(--Red-Flash);
}

.button-disabled {
    background: #646464;
    color: rgba(255, 255, 255, 0.4);
    cursor: not-allowed;
}

.current-datatype-add {
    display: flex;
    margin-bottom: .65em;
    padding: .25em 0;
    width: 100%;
    gap: 1em 0;
}

.current-datatype-add a {
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    gap: 0 .6em;
}

.icon-delete i,
.icon-disabled i {
    font-size: .85em;
    transition: .2s ease-in-out;
}

.icon-delete i:hover {
    transform:scale(1.35);
}

.icon-delete i {
    color: var(--Red-Flash);
}

.icon-disabled i {
    cursor: not-allowed;
    color: rgba(100, 100, 100, 0.4);
}

.search-form-actions-buttons-section,
.users-form-actions-buttons-section,
.editing-data-form-buttons-section {
    display: flex;
    align-items: start;
    width: 100%;
    height: min-content;
    gap: 0 .75em;
}

.editing-data-form-buttons-section {
    flex-direction: column;
    gap: .75em 0;
}

.users-form-actions-buttons-section .form-actions-button,
.users-form-actions-buttons-section .form-actions-button-cancel,
.search-form-actions-buttons-section .form-actions-button {
    width: 11.5em;
    padding: .6em 0;
}

.users-form-actions-buttons-section .form-actions-button-cancel {
    width: max-content;
    padding: .6em;
}

.users-form-actions-buttons-section .form-actions-button-cancel span {
    display: flex;
    flex-direction: row-reverse;
    gap: .5em;
}

.data-view-wrapper {
    width: 80%;
    margin: auto;
}

.data-view-container h1 {
    margin: 1em 0 0 0;
}

.data-view-action-content {
    text-align: center;
    padding: .5em 1em;
}

.data-view-delete-form,
.data-view-add-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .75em .75em .75em;
}

.data-view-add-form form,
.data-view-delete-form form {
    display: inline-flex;
    flex: .3;
    flex-direction: column;
    gap: 0.75em 0;
}

.data-view-add-form form button[type="submit"],
.data-view-delete-form form button[type="submit"]{
    width: 100%;
    margin: 0;
    padding: .75em;
}

.data-view-content {
    justify-content: center;
    align-items: center;
}

.data-view-content form {
    width: 60%;
}

.data-view-button-section,
.data-view-bottom-section {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 1em;
}

.data-view-bottom-section {
    justify-content: start;
    padding: 1em 0;
}

.data-view-button-section .button-save {
    flex: .25;
}

.data-view-bottom-section .button-back {
    flex: .15;
}

@media screen and (max-width: 75em) {
    .dashboard-nav ul {
        grid-template-columns: repeat(auto-fit, 100%);
    }

    .content-title {
        width: 100%;
        padding: 0.6em 0 0.3em 0;
    }

    .user-list {
        grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    }

    .city-list,
    .campus-list {
        grid-template-columns: repeat(auto-fit, minmax(7.5em, 1fr));
    }

    .user-infos-container {
        flex-wrap: wrap;
    }

    .user-infos-container {
        justify-content: center;
    }

    .user-infos,
    .user-name-email {
        align-items: center;
    }

    .user-name-email span { text-align: center; }

    .button-positive-action,
    .form-actions-button,
    .button-edit,
    .button-delete,
    .button-add,
    .button-disabled {
        flex: 1;
    }

    #cities-section .form-actions-button-cancel {
        width: 100%;
    }

    .user-item-actions-topRight section {
        top: .35em;
        right: .35em;
    }

    .icon-delete i,
    .icon-disabled i {
        font-size: .8em;
    }

    .users-actions,
    .cities-actions {
        width: 100%;
    }

    .user-item-actions section {
        width: 15em;
    }

    .current-datatype-add .button-add,
    .user-item-actions .button-edit,
    .data-view-button-section .button-save,
    .data-view-bottom-section .button-back {
        flex: 1;
        padding: .85em 1em;
    }

    .data-view-content form {
        width: 85%;
    }

    .current-datatype-add .button-add {
        flex: 1;
    }

    .search-form-actions-buttons-section .form-actions-button {
        padding: .85em;
    }
}

@media screen and (max-width: 62.5em) {
    .data-view-wrapper {
        width: 70%;
    }

    .data-view-delete-form form {
        flex: .75;
    }
}

@media screen and (max-width: 31.25em) {
    .data-view-wrapper {
        width: 100%;
    }

    .data-view-delete-form form {
        flex: 1;
    }
}