:root {
    --90FadingBlackGradient: linear-gradient(90deg, rgba(0, 0, 0, .35), rgba(0, 0, 0, .05));
    --180FadingBlackGradient: linear-gradient(180deg, rgba(0, 0, 0, .35), rgba(0, 0, 0, .05));
    --180WhiteToClearkGradient: linear-gradient(180deg, rgba(255, 255, 255, .75), rgba(255, 255, 255, 0));
}

.dashboard-wrapper {
    background: var(--180FadingBlackGradient);
    border-radius: 10px;
    backdrop-filter: blur(6px);
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.dashboard-main {
    padding: 1em .5em;
}

.dashboard-nav {
    background: var(--90FadingBlackGradient);
    border-radius: 10px;
    padding: 0 .5em;
}

.dashboard-nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    text-align: center;
    gap: 15px 0;
}

.dashboard-nav ul li button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;

    font-size: .7em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .3);
    font-weight: normal;
    box-sizing: content-box
}

.dashboard-nav ul li button:hover {
    text-decoration: underline 2px;
    text-underline-offset: 4px;
    cursor: pointer;
    font-weight: bolder;
}

.dashboard-nav ul .dbc-selected button {
    color: rgba(255, 255, 255, 1);
}

.content-title {
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    padding: .5em .5em .25em .5em;
    background: var(--90FadingBlackGradient);
    border-radius: 10px;
}

.list-actions-section {
    display: flex;
    align-items: start;
    width: 100%;
    height: min-content;
    padding: .75em 0;
    gap: 0 .75em;
}

.list-actions-section .list-actions-button {
    width: 7.5em;
    padding: .5em 0;
}

.user-list,
.campus-list,
.city-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-gap: 1em;
    height: 100%;
}

.user-infos-wrapper,
.city-infos-wrapper,
.campus-infos-wrapper {
    width: 100%;
    max-width: 100%;
    background: var(--180FadingBlackGradient);
    border-radius: 10px;
    border: solid 1px rgba(255, 255, 255, 0.2);
}

.city-infos-wrapper {
    height: 100%;
}

.user-infos-container {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0;
    clear: both;
    align-items: center;
    gap: 1em;
}


.city-infos-container,
.campus-infos-container {
    display: flex;
    flex-direction: row;
    padding: 0 .5em .5em .5em;
    clear: both;
}

.city-infos-container,
.campus-infos-container {
    align-items: center;
    padding: 0.5em;
    height: 2em;
}

.city-infos-container section span,
.campus-infos-container span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .5em .5em .5em .75em;
}

.user-icon {
    overflow: hidden;
    border: solid 1px #e7e7e7;
    width: 100px;
    height: 100px;
    min-inline-size: 100px;
    border-radius: 10%;
}

.user-icon img {
    margin: auto;
    width: auto;
    height: 100%;
}

.user-status {
    font-size: .55em;
    text-transform: uppercase;
    width: 100px;
}

.user-active,
.user-inactive {
    border-radius: 8px;
    padding: .5em;
    font-weight: bold;
    letter-spacing: 1px;
    display: block;
    text-align: center;
}

.user-active {
    background: var(--180FadingBlackGradient);
    border: solid 2px #42ab27
}

.user-inactive {
    background: var(--180FadingBlackGradient);
    border: solid 2px var(--Red-Flash)
}

.user-infos {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    font-size: .825em;
    width: 100%;
}

.user-name-email {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 3px 0;
}

.user-name-email span {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.user-name-email span:last-child {
    font-size: .5em;
}

.user-item-actions,
.city-item-actions,
.campus-item-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 100%;
}

.user-item-actions section,
.city-item-actions section,
.campus-item-actions section {
    display: flex;
    width: 100%;
    padding: .5em;
    gap: 1em;
    justify-content: center;
}

.user-item-actions section a {
    width: 15em;
}

.city-item-actions,
.campus-item-actions {
    justify-content: end;
}

.city-infos-container section {
    display: flex;
}

.list-actions-button,
.button-edit,
.button-delete,
.button-add,
.button-disabled {
    border-radius: 10px;
    width: 60px;
    padding: .5em 1em;
    font-size: .6em;
    border: solid 2px rgba(0, 0, 0, 0);
    color: var(--white);
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
}

.list-actions-button:hover,
.button-edit:hover,
.button-add:hover,
.button-delete:hover {
    cursor: pointer;
    border: solid 2px var(--white);
    font-weight: bolder;
}

.list-actions-button,
.button-edit,
.button-add {
    background: var(--Dusty-Blue);
}

.button-delete {
    background: var(--Red-Flash);
}

.button-disabled {
    color: rgba(255, 255, 255, 0.4);
    background: #646464;
    cursor: not-allowed;
}

.current-datatype-add {
    margin: .65em 0;
    padding: .25em 0;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .user-list,
    .city-list,
    .campus-list {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    .user-infos-container {
        flex-wrap: wrap;
    }

    .user-infos-container {
        justify-content: center;
    }

    /*.user-icon { margin-bottom: 15px; }*/

    .user-infos,
    .user-name-email {
        align-items: center;
    }

    .user-name-email span { text-align: center; }

    .list-actions-button, .button-edit, .button-delete, .button-add, .button-disabled {
        flex: 1;
    }
}