:root {
    --90FadingBlackGradient: linear-gradient(90deg, rgba(0, 0, 0, .35), rgba(0, 0, 0, .05));
    --180FadingBlackGradient: linear-gradient(180deg, rgba(0, 0, 0, .35), rgba(0, 0, 0, .05));
    --180WhiteToClearkGradient: linear-gradient(180deg, rgba(255, 255, 255, .75), rgba(255, 255, 255, 0));
}

.dashboard-wrapper {
    background: var(--180FadingBlackGradient);
    border-radius: 0.625em;
    backdrop-filter: blur(0.375em);
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.dashboard-main {
    padding: .75em 0;
}

.dashboard-nav {
    background: var(--90FadingBlackGradient);
    border-radius: .625em;
    padding: 0 .5em;
}

.dashboard-nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    text-align: center;
    gap: 1em 0;
}

.dashboard-nav ul li button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;

    font-size: .7em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .3);
    font-weight: normal;
    box-sizing: content-box
}

.dashboard-nav ul li button:hover {
    text-decoration: underline 2px;
    text-underline-offset: 4px;
    cursor: pointer;
    font-weight: bolder;
}

.dashboard-nav ul li.dbc-selected button {
    color: rgba(255, 255, 255, 1);
    font-weight: bolder;
}

.content-title {
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    padding: 0.6em 0.6em .3em 0.6em;
    background: var(--90FadingBlackGradient);
    border-radius: .625em;
    width: 10em;
    font-size: .85em;
}

.users-actions,
.cities-actions {
    padding: .75em 0;
    width: 50%;
}

.cities-actions {
    width: 25%;
}

.users-actions-forms-section {

}

.users-actions-forms-section .filter-field,
.users-actions-forms-section .sort-field {
    padding-bottom: .75em;
}

.users-actions-forms-section .filter-field label,
.users-actions-forms-section .sort-field label{
    padding: 0;
}

.users-actions-forms-section .filter-field div:not(:first-of-type) {
    padding-top: .75em;
}

.user-list,
.campus-list,
.city-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: .75em;
}

.user-list {
    grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
}

.campus-list {
    margin-top: 1em;
}

.editing-data-form-wrapper,
.user-infos-wrapper,
.city-infos-wrapper,
.campus-infos-wrapper {
    width: 100%;
    max-width: 100%;
    background: var(--180FadingBlackGradient);
    border-radius: 0.625em;
    border: solid 1px rgba(255, 255, 255, 0.2);
}

.city-infos-wrapper {
    height: 100%;
}

.user-infos-container {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0;
    clear: both;
    align-items: center;
    gap: 1em;
}

.editing-data-form-container,
.city-infos-container,
.campus-infos-container {
    display: flex;
    flex-direction: row;
    padding: 0 .5em .5em .5em;
    clear: both;
}

.city-infos-container,
.campus-infos-container {
    align-items: center;
    padding: 0.5em;
    height: 2em;
}

.city-infos-container section span,
.campus-infos-container span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .5em .5em .5em .75em;
}

.user-icon {
    overflow: hidden;
    border: solid .125em white;
    width: 6.25em;
    height: 6.25em;
    min-inline-size: 6.25em;
    border-radius: 10%;
    box-shadow: 0 .35em 0.65em var(--Black);
}

.user-icon img {
    margin: auto;
    width: auto;
    height: 100%;
}

.user-status {
    font-size: .55em;
    text-transform: uppercase;
    width: 6.25em;
}

.user-active,
.user-inactive {
    border-radius: 0.5em;
    padding: .5em;
    font-weight: bold;
    letter-spacing: 1px;
    display: block;
    text-align: center;
}

.user-active {
    background: var(--180FadingBlackGradient);
    border: solid 2px #42ab27
}

.user-inactive {
    background: var(--180FadingBlackGradient);
    border: solid 2px var(--Red-Flash)
}

.user-infos {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    font-size: .825em;
    width: 100%;
}

.user-item-actions-topRight {
    position: relative;
}

.user-item-actions-topRight section {
    position: absolute;
    top: 0.313em;
    right: 0.625em;
}

.user-name-email {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 0.188em 0;
}

.user-name-email span {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.user-name-email span:last-child {
    font-size: .5em;
}

.user-item-actions,
.city-item-actions,
.campus-item-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25em;

    width: 100%;
}

.user-item-actions section,
.city-item-actions section,
.campus-item-actions section {
    display: flex;
    width: 100%;
    padding: .5em;
    gap: 1em;
    justify-content: center;
}

.user-item-actions .button-edit {
    width: 15em;
    flex: .55;
}

.city-item-actions,
.campus-item-actions {
    justify-content: end;
}

.city-infos-container section {
    display: flex;
}

.button-positive-action,
.form-actions-button,
.form-actions-button-cancel,
.button-edit,
.button-delete,
.button-add,
.button-disabled {
    border-radius: 0.625em;
    width: 3.75em;
    padding: .6em 1em;
    font-size: .6em;
    border: solid 2px rgba(0, 0, 0, 0);
    color: var(--white);
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
}

.button-positive-action:hover,
.form-actions-button:hover,
.form-actions-button-cancel:hover,
.button-edit:hover,
.button-add:hover,
.button-delete:hover {
    cursor: pointer;
    border: solid 2px var(--white);
    font-weight: bolder;
}

.button-positive-action,
.form-actions-button,
.button-edit,
.button-add {
    background: var(--Dusty-Blue);
}

.button-delete,
.form-actions-button-cancel {
    background: var(--Red-Flash);
}

.button-disabled {
    background: #646464;
    color: rgba(255, 255, 255, 0.4);
    cursor: not-allowed;
}

.current-datatype-add {
    margin: .65em 0;
    padding: .25em 0;
    width: 100%;
}

.icon-delete i,
.icon-disabled i {
    font-size: .85em;
}

.icon-delete i {
    color: var(--Red-Flash);
}

.icon-disabled i {
    cursor: not-allowed;
    color: rgba(100, 100, 100, 0.4);
}

.editing-data-form-wrapper h1 {
    margin: 1em 0 0 0;
}

.editing-data-form-container {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.editing-data-form-container form {
    padding: 1em 4em;
    flex: 1;
}

.search-form-actions-buttons-section,
.users-form-actions-buttons-section,
.editing-data-form-buttons-section {
    display: flex;
    align-items: start;
    width: 100%;
    height: min-content;
    gap: 0 .75em;
}

.editing-data-form-buttons-section {
    flex-direction: column;
    gap: .75em 0;
}

.users-form-actions-buttons-section .form-actions-button,
.users-form-actions-buttons-section .form-actions-button-cancel,
.search-form-actions-buttons-section .form-actions-button {
    width: 11.5em;
    padding: .6em 0;
}

.users-form-actions-buttons-section .form-actions-button-cancel {
    width: max-content;
    padding: .6em;
}

.users-form-actions-buttons-section .form-actions-button-cancel span {
    display: flex;
    flex-direction: row-reverse;
    gap: .5em;
}

@media screen and (max-width: 75em) {
    .dashboard-nav ul {
        grid-template-columns: repeat(auto-fit, 100%);
    }

    .content-title {
        width: 100%;
        padding: 0.6em 0 0.3em 0;
    }

    .user-list,
    .city-list,
    .campus-list {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    .user-infos-container {
        flex-wrap: wrap;
    }

    .user-infos-container {
        justify-content: center;
    }

    .user-infos,
    .user-name-email {
        align-items: center;
    }

    .user-name-email span { text-align: center; }

    .button-positive-action,
    .form-actions-button,
    .button-edit,
    .button-delete,
    .button-add,
    .button-disabled {
        flex: 1;
    }

    .users-actions,
    .cities-actions {
        width: 100%;
    }

    .user-item-actions section {
        width: 15em;
    }

    .user-item-actions .button-edit {
        flex: 0.5;
        padding: .85em 1em;
    }

    .search-form-actions-buttons-section .form-actions-button {
        padding: .85em;
    }
}