/*SECTION DEBUG CSS - START*/

/** {*/
/*    outline: solid .1px red;*/
/*}*/

/*SECTION DEBUG CSS - END*/

/* Parent */
.userList-wrapper {
    /**/
}

.userList-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px 10px 10px 5px;
    margin: auto;
}

/* TABLE ROOT - START */
.userList-table {
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    border-radius: 10px;
    backdrop-filter: blur(4px);

    display: block;
    height: 500px;

    width: 100%;

    overflow: auto;

    margin: 0 auto;
    padding: 0 6px 0 3px;

    border-collapse: separate;
    border-spacing: 0;
}
/* TABLE ROOT - END */

/* CAPTION - START */
.userList-nav {
    display: flex;
    justify-content: start;
    align-items: center;

    position: sticky;
    top: 0;

    margin: 0;
    padding: .75em 0;
}

.userList-nav button {
    margin-right: 25px;
    padding: 0;
}

/* CAPTION - END */

/* Table Header - START */
.userList-table thead {
    position: sticky;
    top: 0;
}

.userList-table th:not(:first-child) {
    border-left: solid 1px rgba(0, 0, 0, 0.15);
}

.userList-table th {
    font-size: .85em;
    text-align: center;
    padding: 8px 24px 6px 24px;
    background: var(--Black);
}

/* Table Header - END */

/* Table Content - START */
.userList-table tbody {

}

.userList-table tr {

}

.userList-table tr:nth-child(odd) {
    background: rgba(0, 0, 0, 0.2);
}

.userList-table tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.35);
}

.userList-table td:not(:first-child) {
    border-left: solid 1px rgba(0, 0, 0, 0.1);
}

.userList-table td {
    /*border: solid 1px grey;*/
    color: var(--white);
    padding: .65em 1em;

    border-bottom: solid 1px rgba(0, 0, 0, 0.25);
    /*background: rgba(0, 0, 0, 0.25);*/

    font-size: .8em;
}

/* ACTIONS - START */
.userList-actions {
    /*outline: solid 1px red;*/
    display: grid;
    grid-gap: .35em;
    grid-auto-rows: auto;
}

.userList-actions span {
    padding-left: .3em;
}

.userList-action-edit,
.userList-action-suppress {
    /*outline: solid 1px magenta;*/
    font-size: .95em;
    white-space: nowrap;
}

.userList-action-edit {

}

.userList-action-suppress {
    color: var(--Red-Flash);
}

/* ACTIONS - END */

/* Table Content - END */

.btn.btn-primary {
    border: none;
    /*color: magenta;*/
}

.btn.btn-primary:hover {

}