{% extends 'base.html.twig' %}

{% block body %}
    <h1>Supprimer un lieu</h1>

    <p>Voulez-vous vraiment supprimer le lieu {{ place.nom }} ? Cette action ne peut pas être annulée.</p>

    <form method="post" action="{{ path('place_confirm_delete', { 'id': place.id }) }}">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ place.id) }}">
        <button class="btn btn-danger">Supprimer</button>
        <a href="{{ path('place_list') }}" class="btn btn-secondary">Annuler</a>
    </form>
{% endblock %}
