{{ form_start(form) }}
<div class="flex justify-center">
    <div class="mb-3 xl:w-96">
        {{ form_widget(form.q) }}
        <button type="submit">Recherche</button>
    </div>
</div>
{{ form_end(form) }}
