<div class="generic-form-container">
{{ form_start(form, {'attr': {'id': 'form_search_city'}}) }}
    <div class="editing-data-form-buttons-section">
        {{ form_widget(form.input) }}

        <section class="search-form-actions-buttons-section">
            <button type="submit" class="form-actions-button" id="search-city-button">
                Research
            </button>
        </section>
    </div>
{{ form_end(form) }}
</div>
