<div class="generic-form-container">
{{ form_start(form, {'attr': {'id': 'form_search_city'}}) }}
    <div class="generic-form-content">
        {{ form_widget(form.input) }}

        <section class="form-actions-buttons-section">
            <button type="submit" class="form-actions-button">
                Recherche
            </button>
        </section>
    </div>
{{ form_end(form) }}
</div>
