name: Deploy to production server

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Execute deployment script
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SECRET_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            cd www
            git pull
            echo 'DATABASE_URL="mysql://root:PLANB@137.74.92.44:42221/sortir?serverVersion=8&charset=utf8mb4"' > .env.local
            composer install --no-dev --optimize-autoloader
            php bin/console doctrine:migrations:migrate --no-interaction
            php bin/console cache:clear --env=prod
